{% extends 'base.html' %}

{% block content %}
<div class="container top">
    <div class="row">
        <div class="col-md-12">
            <div class="row top-section">
                <div class="col-md-5 profile-image">
                    {% if profile_details.profile_photo %}
                    <img src="{{profile_details.profile_photo.url}}" alt="profile-photo">
                    {% else %}
                    <img src="/static/img/avatah.png" alt="avatar">
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <p><span class="username">{{ profile.username }}</span> <a class="btn btn-edit" href="{% url 'edit_profile' %}">Edit Profile</a> <a href=""><i class="fa fa-cog fa-2x"></i></a></p>
                    {% if profile.username == user.username %}
                    <p><a href="{% url 'upload_image' %}">Add Image</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row user-images">
        {% for img in images %}
        <div class="col-md-4 images">
            <img src="{{img.image_pic.url}}" alt="Image">
            <p> {{img.image_caption}} </p>
        </div>
        {% empty %}
        <div class="col-md-12">
            <h2>Upload images</h2>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}