{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    {% if profile_details.profile_photo %}
                    <img src="{{profile_details.profile_photo.url}}" alt="profile-photo">
                    {% else %}
                    <img src="/static/img/avatah.png" alt="avatar">
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <p>{{ profile.username }}'s profile</p>
                    <p><a href="{% url 'upload_image' %}">Add Image</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for img in images %}
        <div class="col-md-2">
            <img src="{{img.image_pic.url}}" alt="Image">
            <p> {{img.image_caption}} </p>
        </div>
        {% empty %}
        <div class="col-md-12">
            <h2>Upload images</h2>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}