@font-face {
    font-family: billabong;
    src: url('/static/Font/Billabong.ttf');
    font-weight: bold;
}

body {
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.signup-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 935px;
    padding-bottom: 44px;
    width: 100%;
}

.signup-fields {
    color: #262626;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}

.section {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.section h1 {
    font-family: 'Billabong';
    font-size: 60px;
    text-align: center;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section p{
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.small {
    color: red;
}

.form-section {
    /* max-width: 250px; */
    font-size: 14px;
    margin: 0 2rem;
}
.sign-up{
    display: flex;
    justify-content: center;
    padding-top: 15%;
}