{% extends 'base.html' %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Instagram Clone</h1>
            {% if user.is_authenticated %}
            <h2>You have been logged in <a href="{% url 'profile' username=user %}">{{user}}</a> </h2>
            {% else %}
            <h2>You have been logged out</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
        {% for img in images %}
            <img src="{{img.image_pic.url}}" alt="Image">
            <p> {{img.image_caption}} </p>
        {% empty %}
            <h2>No images. Follow some people to see their images</h2>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}