{% extends 'base.html' %} 
{% block content %}
<div class="container top">
    <div class="row">
        <div class="col-md-7">
        {% for img in images %}
        <div class="home-images">
            <p> <a href="{% url 'profile' username=img.profile.username %}">{{img.profile.username}}</a> </p>
            <img src="{{img.image_pic.url}}" alt="Image">
            <p> {{img.image_caption}} </p>
        </div>
        {% empty %}
            <h2>No images. Follow some people to see their images</h2>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}